<head>
  <link rel="stylesheet" type="text/css" href="/form-styles.css">
</head>
<form action="<%= action %>">
  <div class=form-button>
    <input type="submit" value="<%= buttonText %>">
  </div>
</form>
