<% if (headers && headers.length && rows && rows.length) { %>
  <table border="1">
  <tr>
    <% headers.forEach(function(header) { %>
      <th>
        <%= header %>
      </th>
    <% }); %>
  </tr>
  <% rows.forEach(function (row) { %>
    <tr>
      <% row.forEach(function (item) { %>
        <td>
          <%= item %>
        </td>
      <% }); %>
    </tr>
  <% }); %>
  </table>
<% } else { %>
  <ul><li>No results</li></ul>
<% } %>
