* {
    box-sizing: border-box;
}

body {
    background-color: rgb(240, 240, 240);
}

input {
    width: 200px;
    padding: 2px 5px;
    margin: 5px 5px;
}

.container {
    background-color: white;
    border-radius: 20px;
    margin: 20px;
    padding: 20px;
    float: left;
    max-width: 40%;
}

.hidden {
    display: none;
}

.error {
    color: red;
}

.input-error {
    border: 1px solid red;
    padding: 3px 6px;
}
