<html>
  <body>
    <h1>Sign Up Failed</h1>
    <p>A user with that name already exists</p>
    <%- include('partials/nav-button.ejs', { action: 'sign-up', buttonText: 'Sign Up' })%>
  </body>
</html>
