<html>
  <body>
    <h1>EMP Sign Up</h1>
    <%- include('partials/form-partial.ejs', { form, action, buttonText }) %>
    <%- include('partials/nav-button.ejs', { action: 'sign-in', buttonText: 'Sign In' })%>
  </body>
</html>
