<html>
  <body>
    <h1>EMP Information Transfer</h1>
    <p>To transfer your employment information to MBR, provide your mortID below.</p>
    <%- include('partials/form-partial.ejs', { action, form, buttonText }) %>
    <%- include('partials/signed-in-user-footer.ejs', { signedInUser })%>
  </body>
</html>
